ASSIGNMENT ON CSV FILE HANDLING

In [22]:
import csv

#  this csv file have 4 data
# ([0],surname).([1]firstname).([2],email.id).([3],grade)

with open("C:/Users/User7/Desktop/csv.file/MCS-3A-MID-1.csv","r") as file:
    # copy the path were the excel(csv) file  is saved
    i=0
    data = csv.reader(file)
    for line in data:
       
       i=i+1
       if i==2:# to skip paticular (row)
        continue
      
      # if (line[3]>str(20)): to find student who scored above(20)marks.
        
        #  print(line[3])  [] by using index i can get only that paticular data
       
       print(line)

['Surname', 'First name', 'Email address', 'Grade/30.00', '', '']
['Khan', 'Muneeb Hassan', 'cosc18131128@kfueit.edu.pk', '23.00', '', '']
['Ali', 'Usama', 'cosc19231030@kfueit.edu.pk', '21.00', '', '']
['.', 'Zulqarnane', 'cs171203@kfueit.edu.pk', '26.00', '', '']
['Ali', 'Mohammad Muneeb', 'cs171137@kfueit.edu.pk', '26.00', '', '']
['Rafiq', 'Zainab Shakir', 'cs172076@kfueit.edu.pk', '16.00', '', '']
['Shahid', 'Muhammad Hamza', 'cs171198@kfueit.edu.pk', '26.00', '', '']
['Ahmad', 'Ahmad Bilal', 'cs171185@kfueit.edu.pk', '25.00', '', 'VIVA']
['NAEEM', 'NAJAF', 'cosc19131003@kfueit.edu.pk', '21.00', '', '']
['Ijaz', 'Aman', 'cs181029@kfueit.edu.pk', '24.00', '', '']
['Sajjad', 'Mian Talha', 'cs172126@kfueit.edu.pk', '23.00', '', '']
['Ahmad', 'Usama', 'cs181053@kfueit.edu.pk', '15.00', '', '']
['ALI', 'MAISIM', 'cosc19131015@kfueit.edu.pk', '15.00', '', '']
['ALI', 'QADIR', 'cosc19131007@kfueit.edu.pk', '27.00', '', '']
['Ali', 'Mohammad Haseeb', 'cs171194@kfueit.edu.pk', '26.00', '', '']
['AHMED', 'JAM', 'cosc19131052@kfueit.edu.pk', '18.00', '', '']
['Imtiaz', 'Sikandar', 'cs171009@kfueit.edu.pk', '27.00', '', '']
['KUMAR', 'DALEEP', 'cosc19131029@kfueit.edu.pk', '28.00', '', '']
['FAROOQ', 'JUNAID', 'cosc19131001@kfueit.edu.pk', '27.00', '', '']
['Almas', 'Mah Jabeen', 'cosc19231016@kfueit.edu.pk', '15.00', '', '']
['IRFAN', 'KHANSA', 'cosc19231014@kfueit.edu.pk', '12.00', '', '']
['ASHRAF', 'REHMAN', 'cosc19131035@kfueit.edu.pk', '14.00', '', '']
['.', 'Hina Murtaza', 'cosc19231034@kfueit.edu.pk', '7.00', '', '']
['FATIMA', 'GHULAM', 'cosc19131032@kfueit.edu.pk', '11.00', '', '']
['IKRAM', 'HAMZA', 'cosc19131018@kfueit.edu.pk', '28.00', '', '']
['HAMZA', 'MUHAMMAD ALI', 'cosc19131043@kfueit.edu.pk', '28.00', '', '']
['KUMAR', 'VIJAY', 'cosc19131030@kfueit.edu.pk', '27.00', '', '']
['SALEEM', 'SANA', 'cosc19131005@kfueit.edu.pk', '16.00', '', '']
['ALI', 'ARSLAN', 'cosc19131034@kfueit.edu.pk', '28.00', '', '']
['SAKHAWAT', 'MARIA', 'cosc19131045@kfueit.edu.pk', '11.00', '', '']
['ASGHAR', 'ALI', 'cosc19131036@kfueit.edu.pk', '27.00', '', '']
['LIAQAT', 'USMAN', 'cosc19131008@kfueit.edu.pk', '17.00', '', '']
['Saeed', 'Iqra', 'cosc19231011@kfueit.edu.pk', '12.00', '', '']
['Bilal', 'Muhammad', 'cs181048@kfueit.edu.pk', '11.00', '', '']
['RAHEEL', 'MUHAMMAD', 'cosc19131022@kfueit.edu.pk', '24.00', '', '']
['SATTAR', 'FAREEHA', 'cosc19131017@kfueit.edu.pk', '24.00', '', '']
['Farooq', 'Saim', 'cosc18131073@kfueit.edu.pk', '22.00', '', '']
['.', 'MUHAMMAD NAZIM', 'cosc19131026@kfueit.edu.pk', '15.00', '', '']
['Azhar', 'Hamza', 'cs172167@kfueit.edu.pk', '24.00', '', '']
['QASIM', 'HINA', 'cosc19131013@kfueit.edu.pk', '16.00', '', '']
['IRSHAD', 'KANWAL', 'cosc19131012@kfueit.edu.pk', '17.00', '', '']
['HUSSAIN', 'ALI', 'cosc19131044@kfueit.edu.pk', '18.00', '', '']
['KOMAL', 'KAINAT', 'cosc19131011@kfueit.edu.pk', '14.00', '', '']
['ABID', 'MUHAMMAD TALHA', 'cosc19131024@kfueit.edu.pk', '23.00', '', '']
['IFTIKHAR', 'SHIZA', 'cosc19131014@kfueit.edu.pk', '16.00', '', '']
['KFUEIT', 'cosc19131051', 'cosc19131051@kfueit.edu.pk', '23.00', '', '']
['BILAL', 'MUHAMMAD', 'cosc19131033@kfueit.edu.pk', '19.00', '', '']
['ZIA', 'KASHAF', 'cosc19131040@kfueit.edu.pk', '18.00', '', '']
['JAVAID', 'ASAD', 'cosc19131039@kfueit.edu.pk', '18.00', '', '']
['FAROOQ', 'KHANSA', 'cosc19131049@kfueit.edu.pk', '26.00', '', '']
['ARSHAD', 'MUHAMMAD', 'cosc19131002@kfueit.edu.pk', '17.00', '', '']
['TALIB', 'KIRAN', 'cosc19131028@kfueit.edu.pk', '14.00', '', '']
['RAUF', 'FAIZA ABDUL', 'cosc19131048@kfueit.edu.pk', '15.00', '', '']
['AFZAL', 'MOAZAM', 'cosc19131041@kfueit.edu.pk', '18.00', '', '']
['SHOUKAT', 'AYESHA', 'cosc19131004@kfueit.edu.pk', '20.00', '', '']
['Ghous', 'Muhammad Safdar', 'cs181021@kfueit.edu.pk', '12.00', '', '']
['Afzal', 'Abu Nasar', 'cosc18131111@kfueit.edu.pk', '21.00', '', '']
['Shoaib', 'Syed Muhammad', 'cs181039@kfueit.edu.pk', '23.00', '', '']
['IMRAN', 'MUHAMMAD', 'cosc19131019@kfueit.edu.pk', '19.00', '', '']
['BIBI', 'SUMAIRA', 'cosc19131031@kfueit.edu.pk', '15.00', '', '']
['Javed', 'Arbaz', 'cs181042@kfueit.edu.pk', '14.00', '', '']
['AFZAL', 'MINAHIL', 'cosc19131009@kfueit.edu.pk', '12.00', '', '']
['Arshad', 'Kiran', 'cosc18131106@kfueit.edu.pk', '18.00', '', '']
['ASLAM', 'SAMINA', 'cosc19131027@kfueit.edu.pk', '17.00', '', '']
['ILYAS', 'MUHAMMAD', 'cosc19131037@kfueit.edu.pk', '30.00', '', '']
['Kamiii', 'KAMRAN AKBAR', 'cosc19131042@kfueit.edu.pk', '30.00', '', '']
['Ejaz', 'Zawar', 'cs181043@kfueit.edu.pk', '12.00', '', '']
['ATTIQ', 'RIZWAN', 'cosc19131021@kfueit.edu.pk', '22.00', '', '']
['ASHIQ', 'AYESHA', 'cosc19131023@kfueit.edu.pk', '11.00', '', '']
['Khan', 'Sallar', 'cs171128@kfueit.edu.pk', '13.00', '', '']
['.', 'ESHA AMJAD', 'cosc19131038@kfueit.edu.pk', '12.00', '', '']
['AMANAT', 'KAINAT', 'cosc19131010@kfueit.edu.pk', '5.00', '', '']
['NAWAZ', 'RIMSHA', 'cosc19131046@kfueit.edu.pk', '5.00', '', '']
['Salar', ' Khan', 'cs171128@kfueit.edu.pk', '10', '', '']
['Hafiz', 'Fahad', 'cs171135', '12', '', '']

ASSIGMENT ON FILE HANDLING

In [1]:
#  using try,except, and finally in txt.file
def funct():
    try:
       file=open("filehand.txt/a.txt","w")
       file.write("hello gourav")
    except:
        print("Exception raised")
    finally:
        print("finally back")
        file.close()
funct()

finally back

In [31]:
# write a program to find the intersection of two list

def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3
 
# Driver Code
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst1, lst2))

[9, 11, 26, 28]

In [33]:
#  PROGRAM TO COUNT THE OCCURENCE OF A SPECIFIC CHARACTER IN A FILE 

# count = 0  # the value assigned is ,0,
char = input("ENTER CHARACTER : ")
count = 0
with open("filehand.txt/a.txt","r") as file:
  for i in file:
   for c in i:  # c=character in (i):
    if c == char:
      count = count + 1
print("THE CHARACTER {} IS FOUND {} TIMES IN THE TEXT FILE".format(char,count))

THE CHARACTER g IS FOUND 2 TIMES IN THE TEXT FILE

In [30]:

import csv
data=["NAME","ROLL NUMBER","MARKS","GRADE"]

rows=    [['GOURAV', '111', '80', 'A'], 
         ['SHANKER', '222', '95', 'A+'], 
         ['SAMARTH', '333', '96', 'A+'], 
         ['VINAYAK', '444', '90', 'A+'], 
         ['HEMANTH', '555', '85', 'A'], 
         ['RAJ', '666', '90', 'A']]


with open("filehand.txt/A.csv", 'w') as csvfile:
   csvwriter = csv.writer(csvfile)
   csvwriter.writerow(data)
   csvwriter.writerows(rows)

ASSSIGNMENT ON SET

In [8]:
#  ASSIGMENT ON SET TO DISPLAY INTERSECTION MARKS BETWEEN THREE CLASS STUDENT USING SET OPREATION
SET1=set()
SET2=set()
SET3=set()
for i in range(35,60) :
    SET1.add(i)
for j in range(40,75):
    SET2.add(j)
for k in range(50,99):
     SET3.add(k)
     SET4=SET1.intersection(SET2)
     TOTAL=SET4.intersection(SET3)
print(TOTAL)

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59}

ASSIGNMENT ON MATRIX

In [3]:
# CREAT A 6X6 ORDER MATRIX USING LIST COMPREHENSION METHOD AND ALL MATRIX VALUES MUST BE ODD NUMBERS REPETATION ALLOWED

M1= [[ i for i in range(12) if(i% 2 !=0)] for j in range(6)]
M1

[[1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11]]

In [1]:
# CREAT A 16X16 ORDER MATRIX USING LIST COMPREHENSION METHOD AND ALL MATRIX VALUES MUST BE ODD NUMBERS REPETATION ALLOWED

M2=[[i for i in range(32) if(i%2!=0)]for j in range(16)]
M2

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

ASSIGNMENT

In [ ]:
#  WRITE A PROGRAM TO FIND THE ELDEST AMOUNG THREE PERSON AGE RECEVIED FROM THE USER
AGE1=int(input("Enter the age1" ))
AGE2=int(input("Enter the age1" ))
AGE3=int(input("Enter the age1" ))
if  AGE1>AGE2 and AGE1>AGE3:
     print("AGE1 is eldest")
elif AGE2>AGE1 and AGE2>AGE3:
    print("AGE2 is eldest")
else:
    print("AGE3 is eldest")

In [ ]:
2# WRITE A PROGRAM TO PRINT CHECK THE NUMBER RECORDED FROM USER IS POSITIVE OR NEGATIVE

num=int(input("ENTER THE VALUE"))
if (num>0):
    print("ENTER THE VALUE IS POSITIVE",num)
else:
    print("ENTER THE VALUE IS NEGATIVE",num)

In [ ]:
4#  WRITE A PROGRAM TO ACCEPT TWO NUMBERS AND MATHEMATICAL OPREATORS AND PERFORM OPERATIONS ACORDINGLY
A=int(input("ENTER THE VALUE  A "))
B=int(input("ENTER THE VALUE  B "))
print(" ADDITION OF NUMBER IS" ,A+B)
print(" SUBTACTION OF NUMBER IS" ,A-B)
print(" MULTIPLICATION OF NUMBER IS" ,A*B)
print(" DIVISION OF NUMBER IS" ,A/B)
print(" MOUDUL OF NUMBER IS" ,A%B)
print(" SQUARE OF NUMBER" ,A**B)
print(" FLOOR DIVISION OF NUMBER",A//B)
print(" CAP OF NUMBER",A^B)

In [ ]:
#  WRITE A PROGRAM IF YOU HAVE WRITTEN AN EXAM FOR A TOTAL SCORE OF 100 AND IF YOU SCORE IS ABOVE OR EQUAL TO 60 THEN YOU WILL BE CONSIDERED AS PASSS IN EXAM
T=int(input("Enter the total score"))
print(T)
result=int(input("ENTER THE RESULT"))
print("SCORED MARKS IS",result)
if(result<=59):
    print("FAIL")
else:
    print("PASS")

In [1]:
# ZIP METHOD
name  = ('gourav','shanker','samarth','raju')
roll_no = (1,2,3,4)
added = zip(name,roll_no)
 
print(list(added))

[('gourav', 1), ('shanker', 2), ('samarth', 3), ('raju', 4)]

In [10]:

def divided(x,y):
    try:
           result=x//y
           print("s ur ans is",result)
    except :
            print("sorry ur is not corect")    
divided(4,2)

s ur ans is 2

In [9]:
a=[1,2,3]
try:
    print("second number%d",a[2])
    print("fourth index%d",a[3])
except :
    print(" u get an erreor")

second number%d 3
 u get an erreor

In [47]:
a={1:"gourav",2:"a",3:"s",4:"none"}
try:
    print(a.keys(1))
except  :
    print("value error")

value error