ASSIGNMENT ON CSV FILE

PROGRAM ON CSV FILE TO FETCH DATA FROM EXCEL DATASET

In [1]:
import csv

#  this csv file have 4 data
# ([0],surname).([1]firstname).([2],email.id).([3],grade)
with open("C:/Users/User7/Desktop/csv.file/MCS-3A-MID-1.csv","r") as file:
    # copy the path were the excel(csv) file  is saved
   
    i=0
    data = csv.reader(file)
    for line in data:
       
       i=i+1
       if i==2: # to skip paticular (row)
        continue
       print(line)
    if (line[3]>str(20)):   #to find student who scored above(20)marks.
        
      print(line[3])  #[] by using index i can get only that paticular data.

['Surname', 'First name', 'Email address', 'Grade/30.00', '', '']
['Khan', 'Muneeb Hassan', 'cosc18131128@kfueit.edu.pk', '23', '', '']
['Ali', 'Usama', 'cosc19231030@kfueit.edu.pk', '21', '', '']
['.', 'Zulqarnane', 'cs171203@kfueit.edu.pk', '26', '', '']
['Ali', 'Mohammad Muneeb', 'cs171137@kfueit.edu.pk', '26', '', '']
['Rafiq', 'Zainab Shakir', 'cs172076@kfueit.edu.pk', '16', '', '']
['Shahid', 'Muhammad Hamza', 'cs171198@kfueit.edu.pk', '26', '', '']
['Ahmad', 'Ahmad Bilal', 'cs171185@kfueit.edu.pk', '25', '', 'VIVA']
['NAEEM', 'NAJAF', 'cosc19131003@kfueit.edu.pk', '21', '', '']
['Ijaz', 'Aman', 'cs181029@kfueit.edu.pk', '24', '', '']
['Sajjad', 'Mian Talha', 'cs172126@kfueit.edu.pk', '23', '', '']
['Ahmad', 'Usama', 'cs181053@kfueit.edu.pk', '15', '', '']
['ALI', 'MAISIM', 'cosc19131015@kfueit.edu.pk', '15', '', '']
['ALI', 'QADIR', 'cosc19131007@kfueit.edu.pk', '27', '', '']
['Ali', 'Mohammad Haseeb', 'cs171194@kfueit.edu.pk', '26', '', '']
['AHMED', 'JAM', 'cosc19131052@kfueit.edu.pk', '18', '', '']
['Imtiaz', 'Sikandar', 'cs171009@kfueit.edu.pk', '27', '', '']
['KUMAR', 'DALEEP', 'cosc19131029@kfueit.edu.pk', '28', '', '']
['FAROOQ', 'JUNAID', 'cosc19131001@kfueit.edu.pk', '27', '', '']
['Almas', 'Mah Jabeen', 'cosc19231016@kfueit.edu.pk', '15', '', '']
['IRFAN', 'KHANSA', 'cosc19231014@kfueit.edu.pk', '12', '', '']
['ASHRAF', 'REHMAN', 'cosc19131035@kfueit.edu.pk', '14', '', '']
['.', 'Hina Murtaza', 'cosc19231034@kfueit.edu.pk', '7', '', '']
['FATIMA', 'GHULAM', 'cosc19131032@kfueit.edu.pk', '11', '', '']
['IKRAM', 'HAMZA', 'cosc19131018@kfueit.edu.pk', '28', '', '']
['HAMZA', 'MUHAMMAD ALI', 'cosc19131043@kfueit.edu.pk', '28', '', '']
['KUMAR', 'VIJAY', 'cosc19131030@kfueit.edu.pk', '27', '', '']
['SALEEM', 'SANA', 'cosc19131005@kfueit.edu.pk', '16', '', '']
['ALI', 'ARSLAN', 'cosc19131034@kfueit.edu.pk', '28', '', '']
['SAKHAWAT', 'MARIA', 'cosc19131045@kfueit.edu.pk', '11', '', '']
['ASGHAR', 'ALI', 'cosc19131036@kfueit.edu.pk', '27', '', '']
['LIAQAT', 'USMAN', 'cosc19131008@kfueit.edu.pk', '17', '', '']
['Saeed', 'Iqra', 'cosc19231011@kfueit.edu.pk', '12', '', '']
['Bilal', 'Muhammad', 'cs181048@kfueit.edu.pk', '11', '', '']
['RAHEEL', 'MUHAMMAD', 'cosc19131022@kfueit.edu.pk', '24', '', '']
['SATTAR', 'FAREEHA', 'cosc19131017@kfueit.edu.pk', '24', '', '']
['Farooq', 'Saim', 'cosc18131073@kfueit.edu.pk', '22', '', '']
['.', 'MUHAMMAD NAZIM', 'cosc19131026@kfueit.edu.pk', '15', '', '']
['Azhar', 'Hamza', 'cs172167@kfueit.edu.pk', '24', '', '']
['QASIM', 'HINA', 'cosc19131013@kfueit.edu.pk', '16', '', '']
['IRSHAD', 'KANWAL', 'cosc19131012@kfueit.edu.pk', '17', '', '']
['HUSSAIN', 'ALI', 'cosc19131044@kfueit.edu.pk', '18', '', '']
['KOMAL', 'KAINAT', 'cosc19131011@kfueit.edu.pk', '14', '', '']
['ABID', 'MUHAMMAD TALHA', 'cosc19131024@kfueit.edu.pk', '23', '', '']
['IFTIKHAR', 'SHIZA', 'cosc19131014@kfueit.edu.pk', '16', '', '']
['KFUEIT', 'cosc19131051', 'cosc19131051@kfueit.edu.pk', '23', '', '']
['BILAL', 'MUHAMMAD', 'cosc19131033@kfueit.edu.pk', '19', '', '']
['ZIA', 'KASHAF', 'cosc19131040@kfueit.edu.pk', '18', '', '']
['JAVAID', 'ASAD', 'cosc19131039@kfueit.edu.pk', '18', '', '']
['FAROOQ', 'KHANSA', 'cosc19131049@kfueit.edu.pk', '26', '', '']
['ARSHAD', 'MUHAMMAD', 'cosc19131002@kfueit.edu.pk', '17', '', '']
['TALIB', 'KIRAN', 'cosc19131028@kfueit.edu.pk', '14', '', '']
['RAUF', 'FAIZA ABDUL', 'cosc19131048@kfueit.edu.pk', '15', '', '']
['AFZAL', 'MOAZAM', 'cosc19131041@kfueit.edu.pk', '18', '', '']
['SHOUKAT', 'AYESHA', 'cosc19131004@kfueit.edu.pk', '20', '', '']
['Ghous', 'Muhammad Safdar', 'cs181021@kfueit.edu.pk', '12', '', '']
['Afzal', 'Abu Nasar', 'cosc18131111@kfueit.edu.pk', '21', '', '']
['Shoaib', 'Syed Muhammad', 'cs181039@kfueit.edu.pk', '23', '', '']
['IMRAN', 'MUHAMMAD', 'cosc19131019@kfueit.edu.pk', '19', '', '']
['BIBI', 'SUMAIRA', 'cosc19131031@kfueit.edu.pk', '15', '', '']
['Javed', 'Arbaz', 'cs181042@kfueit.edu.pk', '14', '', '']
['AFZAL', 'MINAHIL', 'cosc19131009@kfueit.edu.pk', '12', '', '']
['Arshad', 'Kiran', 'cosc18131106@kfueit.edu.pk', '18', '', '']
['ASLAM', 'SAMINA', 'cosc19131027@kfueit.edu.pk', '17', '', '']
['ILYAS', 'MUHAMMAD', 'cosc19131037@kfueit.edu.pk', '30', '', '']
['Kamiii', 'KAMRAN AKBAR', 'cosc19131042@kfueit.edu.pk', '30', '', '']
['Ejaz', 'Zawar', 'cs181043@kfueit.edu.pk', '12', '', '']
['ATTIQ', 'RIZWAN', 'cosc19131021@kfueit.edu.pk', '22', '', '']
['ASHIQ', 'AYESHA', 'cosc19131023@kfueit.edu.pk', '11', '', '']
['Khan', 'Sallar', 'cs171128@kfueit.edu.pk', '13', '', '']
['.', 'ESHA AMJAD', 'cosc19131038@kfueit.edu.pk', '12', '', '']
['AMANAT', 'KAINAT', 'cosc19131010@kfueit.edu.pk', '5', '', '']
['NAWAZ', 'RIMSHA', 'cosc19131046@kfueit.edu.pk', '5', '', '']
['Salar', ' Khan', 'cs171128@kfueit.edu.pk', '10', '', '']
['Hafiz', 'Fahad', 'cs171135', '12', '', '']

In [4]:
import csv

with open("C:/Users/User7/Desktop/csv.file/laptops_test.csv","r") as file:
    data=csv.reader(file)
    # i=0
    for line1 in data:
    #  print(line1[0]) it prints all manufacture company of laptop,
        # i=i+1
        
        if line1[0]=="HP" :# SEARCHING A PATICULAR LAPTOP COMPANY,
            # continue
            print(line1[0],line1[12])          #LAPTOP WITH ITS PRICE,
            
            if line1[6]>="6": 
                print(line1[0],line1[6])       #laptop and it storage data,

                if line1[11]<="2":
                    print(line1[0],line1[11])  # weight of laptop of paticular company

HP 5148468
HP 6GB
HP 7166952
HP 8GB
HP 16965936
HP 8GB
HP 0.97kg
HP 4437108
HP 11995308
HP 8GB
HP 1.11kg
HP 18575388
HP 8GB
HP 1.48kg
HP 10572588
HP 8GB
HP 1.34kg
HP 6926868
HP 9781111.08
HP 10714860
HP 12884508
HP 8GB
HP 1.43kg
HP 9330019.92
HP 8GB
HP 1.64kg
HP 6082128
HP 13684788
HP 14138280
HP 16781071.32
HP 8GB
HP 1.54kg
HP 7113600
HP 6846751.08
HP 19820268
HP 8GB
HP 1.43kg
HP 10216908
HP 8GB
HP 1.11kg
HP 10540843.56
HP 8GB
HP 1.64kg
HP 13862628
HP 10572588
HP 9425520
HP 9603360
HP 8GB
HP 8651916
HP 10625940
HP 8GB
HP 1.95kg
HP 10928179.08
HP 8GB
HP 1.84kg
HP 11995308
HP 8GB
HP 1.26kg
HP 6597864
HP 8985454.92
HP 8GB
HP 1.64kg
HP 8892000
HP 18702899.28
HP 8GB
HP 1.84kg
HP 13062348
HP 8GB
HP 1.43kg
HP 8705268
HP 8GB
HP 1.91kg
HP 8705268
HP 6270193.8
HP 4437108
HP 9514440
HP 8GB
HP 10661508
HP 10661508
HP 8GB
HP 1.26kg
HP 9692280
HP 8GB
HP 1.49kg
HP 8358480
HP 18219708
HP 9167563.08
HP 13293540
HP 8GB
HP 1.9kg
HP 5468580
HP 3076543.08
HP 14218308
HP 4446000
HP 25777908
HP 8GB
HP 3539016
HP 15107508
HP 8GB
HP 1.16kg
HP 17508348
HP 8GB
HP 1.16kg
HP 15027480
HP 8GB
HP 1.16kg
HP 13453596
HP 8GB
HP 1.43kg
HP 16850340
HP 8GB
HP 1.26kg
HP 10039068
HP 8GB
HP 5593068
HP 8GB
HP 6686784
HP 8GB
HP 1.84kg
HP 35118064.8
HP 8GB
HP 19310934.24
HP 8GB
HP 1.88kg
HP 14485068
HP 8GB
HP 1.48kg
HP 19820268
HP 8GB
HP 15996708
HP 8GB
HP 1.48kg
HP 16885908
HP 8GB
HP 20424479.4
HP 8GB
HP 1.26kg
HP 14040468
HP 8GB
HP 1.88kg
HP 2640924
HP 4258289.88
HP 18148572
HP 8GB
HP 1.48kg
HP 7993908
HP 8GB
HP 4241395.08
HP 2214108
HP 6037668
HP 8GB
HP 1.96kg
HP 10305828
HP 5779800
HP 7104708
HP 6GB
HP 4312620
HP 11799684
HP 5148468
HP 8GB
HP 1.91kg
HP 4703868
HP 6GB
HP 4250376
HP 19546305.48
HP 8GB
HP 1.54kg
HP 9781111.08
HP 3547908
HP 4890511.08
HP 6GB
HP 1858428
HP 6793488
HP 6GB
HP 4890511.08
HP 6GB
HP 1858428
HP 6793488
HP 6GB
HP 4890511.08
HP 6GB
HP 1858428
HP 6793488
HP 6GB

In [1]:
import csv

with open("C:/Users/User7/Desktop/csv.file/Salary Data.csv","r") as file:
    data=csv.reader(file)
    
    for line2 in data:
        
        # print(line2[0])  # prints all information, of employee salary.data
        # and also we can paticular row and coloum 
        if line2[0] == "32":# it picks employee age equale to 32,
            print(line2[0],line2[3]) #[3] JOB TITTLE
            
            if line2[5]>str(50000):
            # the employee who takes above 50000: salary
                print(line2[5])
                
                if line2[4]>=str(5):
                    print(line2[4])

                    if line2[]

32 Software Engineer
90000
5
32 Account Manager
75000
5
32 Senior Software Engineer
32 Senior Business Analyst
90000
6
32 Marketing Coordinator
32 Junior Financial Analyst
32 Junior Account Manager
55000
5
32 Junior Sales Representative
32 Junior Marketing Manager
60000
32 Junior Product Manager
65000
32 Junior Financial Advisor
65000
32 Junior Marketing Coordinator
55000

In [1]:
import csv
# [0] bike name/ [1]price/ [2]city/ [3]km drived / [4]owner/[5] age/[6] / [7]brand
with open("C:/Users/User7/Desktop/csv.file/Used_Bikes.csv","r")as file:
    data=csv.reader(file)
    
    for line in data:
        # to cheack how many same bikes r there and with (price),(brand)
        if line[0] == "Royal Enfield Thunderbird X 350cc":
          print(line[0],line[1],line[7])
          
          if line[5]<="3":  # to check how many years bike is used (k/m runned by that bike)(in which city) 
            print(line[5],line[3],line[2])

Royal Enfield Thunderbird X 350cc 145000 Royal Enfield
3 9190 Bangalore
Royal Enfield Thunderbird X 350cc 150000 Royal Enfield
3 15000 Bangalore
Royal Enfield Thunderbird X 350cc 160000 Royal Enfield
3 5800 Hyderabad
Royal Enfield Thunderbird X 350cc 148000 Royal Enfield
3 3000 Jalandhar
Royal Enfield Thunderbird X 350cc 160000 Royal Enfield
3 4200 Hyderabad
Royal Enfield Thunderbird X 350cc 148000 Royal Enfield
3 3000 Jalandhar
Royal Enfield Thunderbird X 350cc 138000 Royal Enfield
3 6500 Kasargode
Royal Enfield Thunderbird X 350cc 137000 Royal Enfield
3 7500 Satara
Royal Enfield Thunderbird X 350cc 150000 Royal Enfield
3 2900 Pune
Royal Enfield Thunderbird X 350cc 150900 Royal Enfield
3 11850 Bangalore
Royal Enfield Thunderbird X 350cc 141800 Royal Enfield
3 9200 Bhopal
Royal Enfield Thunderbird X 350cc 141800 Royal Enfield
3 9200 Bhopal
Royal Enfield Thunderbird X 350cc 150000 Royal Enfield
3 27356 Bangalore

In [6]:
import csv

with open("C:/Users/User7/Desktop/csv.file/indian_food.csv","r") as file:
    data=csv.reader(file)
    # i=0
    for line in data:
        # i=i+1
        # if i==1:
            
            # paticular sweet and it state
              # if line[0] == "Boondi":
              #   print(line[0],line[7],line[5])
              
              # sweets made by paticular state
              if line[7] == "Karnataka":
                print(line[7],line[0])

              # paticular igredent used for sweet
              # if line[0]=="Lassi":
              #   print(line[0],line[1])

              # to chack it is veg or non veg dish
              # if line[0]=="Biryani":
              #   print(line[0],"is",line[2])
               
              # to check it is sweet or spicy
              # if line[0]=="Obbattu holige":
              #   print(line[0],"is",line[5])

Karnataka Dharwad pedha
Karnataka Mysore pak
Karnataka Obbattu holige
Karnataka Bisi bele bath
Karnataka Koshambri
Karnataka Sandige

ASSIGMENT ON FILE HANDLING

In [1]:
#  using try,except, and finally in txt.file
def funct():
    try:
       file=open("filehand.txt/a.txt","w")
       file.write("hello gourav")
    except:
        print("Exception raised")
    finally:
        print("finally back")
        file.close()
funct()

finally back

In [31]:
# write a program to find the intersection of two list

def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3
 
# Driver Code
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst1, lst2))

[9, 11, 26, 28]

In [33]:
#  PROGRAM TO COUNT THE OCCURENCE OF A SPECIFIC CHARACTER IN A FILE 

# count = 0  # the value assigned is ,0,
char = input("ENTER CHARACTER : ")
count = 0
with open("filehand.txt/a.txt","r") as file:
  for i in file:
   for c in i:  # c=character in (i):
    if c == char:
      count = count + 1
print("THE CHARACTER {} IS FOUND {} TIMES IN THE TEXT FILE".format(char,count))

THE CHARACTER g IS FOUND 2 TIMES IN THE TEXT FILE

In [1]:

import csv
data=["NAME","ROLL NUMBER","MARKS","GRADE"]

rows=    [['GOURAV', '111', '80', 'A'], 
         ['SHANKER', '222', '95', 'A+'], 
         ['SAMARTH', '333', '96', 'A+'], 
         ['VINAYAK', '444', '90', 'A+'], 
         ['HEMANTH', '555', '85', 'A'], 
         ['RAJ', '666', '90', 'A']]


with open("filehand.txt/A.csv", 'w') as csvfile:
   csvwriter = csv.writer(csvfile)
   csvwriter.writerow(data)
   csvwriter.writerows(rows)

ASSSIGNMENT ON SET

In [8]:
#  ASSIGMENT ON SET TO DISPLAY INTERSECTION MARKS BETWEEN THREE CLASS STUDENT USING SET OPREATION
SET1=set()
SET2=set()
SET3=set()
for i in range(35,60) :
    SET1.add(i)
for j in range(40,75):
    SET2.add(j)
for k in range(50,99):
     SET3.add(k)
     SET4=SET1.intersection(SET2)
     TOTAL=SET4.intersection(SET3)
print(TOTAL)

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59}

ASSIGNMENT ON MATRIX

In [3]:
# CREAT A 6X6 ORDER MATRIX USING LIST COMPREHENSION METHOD AND ALL MATRIX VALUES MUST BE ODD NUMBERS REPETATION ALLOWED

M1= [[ i for i in range(12) if(i% 2 !=0)] for j in range(6)]
M1

[[1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11]]

In [1]:
# CREAT A 16X16 ORDER MATRIX USING LIST COMPREHENSION METHOD AND ALL MATRIX VALUES MUST BE ODD NUMBERS REPETATION ALLOWED

M2=[[i for i in range(32) if(i%2!=0)]for j in range(16)]
M2

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

ASSIGNMENT

In [ ]:
#  WRITE A PROGRAM TO FIND THE ELDEST AMOUNG THREE PERSON AGE RECEVIED FROM THE USER
AGE1=int(input("Enter the age1" ))
AGE2=int(input("Enter the age1" ))
AGE3=int(input("Enter the age1" ))
if  AGE1>AGE2 and AGE1>AGE3:
     print("AGE1 is eldest")
elif AGE2>AGE1 and AGE2>AGE3:
    print("AGE2 is eldest")
else:
    print("AGE3 is eldest")

In [ ]:
2# WRITE A PROGRAM TO PRINT CHECK THE NUMBER RECORDED FROM USER IS POSITIVE OR NEGATIVE

num=int(input("ENTER THE VALUE"))
if (num>0):
    print("ENTER THE VALUE IS POSITIVE",num)
else:
    print("ENTER THE VALUE IS NEGATIVE",num)

In [ ]:
4#  WRITE A PROGRAM TO ACCEPT TWO NUMBERS AND MATHEMATICAL OPREATORS AND PERFORM OPERATIONS ACORDINGLY
A=int(input("ENTER THE VALUE  A "))
B=int(input("ENTER THE VALUE  B "))
print(" ADDITION OF NUMBER IS" ,A+B)
print(" SUBTACTION OF NUMBER IS" ,A-B)
print(" MULTIPLICATION OF NUMBER IS" ,A*B)
print(" DIVISION OF NUMBER IS" ,A/B)
print(" MOUDUL OF NUMBER IS" ,A%B)
print(" SQUARE OF NUMBER" ,A**B)
print(" FLOOR DIVISION OF NUMBER",A//B)
print(" CAP OF NUMBER",A^B)

In [ ]:
#  WRITE A PROGRAM IF YOU HAVE WRITTEN AN EXAM FOR A TOTAL SCORE OF 100 AND IF YOU SCORE IS ABOVE OR EQUAL TO 60 THEN YOU WILL BE CONSIDERED AS PASSS IN EXAM
T=int(input("Enter the total score"))
print(T)
result=int(input("ENTER THE RESULT"))
print("SCORED MARKS IS",result)
if(result<=59):
    print("FAIL")
else:
    print("PASS")

In [1]:
# ZIP METHOD
name  = ('gourav','shanker','samarth','raju')
roll_no = (1,2,3,4)
added = zip(name,roll_no)
 
print(list(added))

[('gourav', 1), ('shanker', 2), ('samarth', 3), ('raju', 4)]

In [10]:

def divided(x,y):
    try:
           result=x//y
           print("s ur ans is",result)
    except :
            print("sorry ur is not corect")    
divided(4,2)

s ur ans is 2

In [9]:
a=[1,2,3]
try:
    print("second number%d",a[2])
    print("fourth index%d",a[3])
except :
    print(" u get an erreor")

second number%d 3
 u get an erreor

In [47]:
a={1:"gourav",2:"a",3:"s",4:"none"}
try:
    print(a.keys(1))
except  :
    print("value error")

value error