Assingment

 Program on List

In [11]:
#  picking paticular string from list by using index number
list = [10,15,20,[100,200],"gourav"]
print(list[3][0])

100

In [14]:
# spliting values by entered in list
list1 = input("Enter the value")
list2 = list1.split()
print(list2)

['gou', 'rav', 's', 'pop', 'ale']

In [17]:
# using append to add the values in the list
list=[]
list.append(input("Enter the value"))
list.append(input("Enter the value"))
list.append([20,30,40,50])
list

['20', '30', [20, 30, 40, 50]]

In [21]:
# using extend in the list
list1=["Hi well come"]
list1.extend(["Gourav"])
list1

['Hi well come', 'Gourav']

In [72]:
# Using revers. in list
list = ["Gourav","Is","Good"]
list.reverse()
list

['Good', 'Is', 'Gourav']

In [77]:
# Using remove. in list
list = ["Gourav",'s',"popale"]
list.remove("s")
list

['Gourav', 'popale']

In [78]:
#Using pop. in list # it is paticular to (remove last one,)
list = [10,20,30,40,50,60]
list.pop()
list

[10, 20, 30, 40, 50]

Tuple

In [66]:
# Adding string by tuple
tuple1 = ("Hi ")
tuple2 = ("Gourav")
tuple3 = tuple1+tuple2
tuple3

'Hi Gourav'

In [56]:

# Accessing the lement using positive indexing
t1 = ("g","o","r","a","v")
print(t1[0])    #print "g"
print(t1[4])    #print "v"

g
v

In [57]:
# Accessing the lement using negative indexing
t1 = ("g","o","r","a","v")
print(t1[-2])    #print "a"
print(t1[-4])    #print "o"

a
o

In [62]:
# Accessing tuple element using slicing
my_tuple = (1,2,3,4,5,6,7,8,9)
print(my_tuple[1:5])    #(2,3,4,5)
print(my_tuple[:-7])    #(1,2)
print(my_tuple[7:])     #(8,9)
print(my_tuple[:])      # returns all the tuples items

(2, 3, 4, 5)
(1, 2)
(8, 9)

In [71]:
# Using count and index in tuple
my_tuple = ("h","u","b","l","i","k","e","o","n","i","c","s")
print(my_tuple.count("i"))   #2
print(my_tuple.count("n"))   #1
print(my_tuple.index("k"))   #5

2
1
5

In [70]:
# Check if an item exists in the python Tuple

my_tuple = ("Gourav","keonics","student")
print("hubli" in my_tuple)   #FALSE
print("Gourav" in my_tuple)  #TRUE

False
True

program on set

In [5]:
# A set cannot have duplicate values
myset={"geek","for","geek"} 
print(myset)
myset={"h","e","l","l","o"}
print(myset)

{'geek', 'for'}
{'h', 'l', 'e', 'o'}

In [6]:
#  A set can store hetrogeneous elements
myset={"hi","well","come","to","keonics","traning","center"}
print(myset)

{'well', 'hi', 'come', 'keonics', 'center', 'to', 'traning'}

In [8]:
# Adding a string in a set
myset={"Gourav","popale"}
myset.add("s")
print(myset)

{'popale', 's', 'gourav'}

In [9]:
# using update in set
companies={'lactose','ralph lauren'}
tec_companies={'apple','google','apple'}

companies.update(tec_companies)

print(companies)

{'apple', 'ralph lauren', 'google', 'lactose'}

In [10]:
# Using Discard in set
myset={'Gourav','s','popale'}
myset1=myset.discard('s')
print(myset)

{'Gourav', 'popale'}

In [13]:
# Find Number of set Elements     #it will not count repeated value again and again
even_number={1,2,3,4,5,6,7,8,9,1,2,3}
print(len(even_number))

9

In [15]:
# Using intersection in set
A={1,2,3,4,5}
B={7,6,2,5,8}
print(A.intersection(B))

{2, 5}