PROGRAM ON LIST WITH ALL BUILT-IN FUNCTION

In [4]:
# PICKING PATICULAR OBJECT BY USING INDEX (value)

list = [10,15,20,[100,200],"gourav"]
print(list[3][0])

100

In [3]:
# SPLITING VALUES BY ENTERED OBJECT BY 

# using. SPACE IN LIST

list1 = input("Enter the value")
list2 = list1.split()
print(list2)

['g', 'o', 'u', 'r', 'a', 'v']

In [6]:
# USING APPEND IN LIST TO ADD OBJECT

list=[]
list.append(input("Enter the value"))
list.append(input("Enter the value"))
list.append([30,40,50,60])
list

['10', '20', [30, 40, 50, 60]]

In [7]:
# USING COUNT() IN LIST 

# (Returns the count of how many times object occurs in the list.)

list=['a','b','b','c','e','f']
print(list.count('b'))

2

In [8]:
# USING EXTEND IN LIST TO (ADD WHOLE LIST) 

list1=["Hi well come"]
list1.extend(["Gourav"])
list1

['Hi well come', 'Gourav']

In [9]:
# USING REVERSE IN LIST
# revers the whole list
list = ["Gourav","Is","Good"]
list.reverse()
list

['Good', 'Is', 'Gourav']

In [10]:
# USING REMOVE IN LIST(IT WILL REMOVE ONLY DIRECT OBJECT)

list = ["Gourav",'s',"popale"]
list.remove("s")
list

['Gourav', 'popale']

In [11]:
# USING POP() IN LIST WHICH REMOVE
# note: BY DEFAULT(-1)(LAST OBJECT)

list = [10,20,30,40,50,60]
list.pop()
list

[10, 20, 30, 40, 50]

In [12]:
#  USING SORT() IN LIST
LIST=[1,5,3,6,9,4,7,8,10]  # note:
LIST.sort()                # sort  will arange in accending order
# LIST.sort(reverse=True)  # reverse=True will sort the list in descending.
print(LIST)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#  USING INSERT() IN LIST

list=[1,2,3,4,5,6]  
list.insert(0,0)  #ndex: the index at which the element has to be inserted.
list

[0, 1, 2, 3, 4, 5, 6]

In [37]:
#  program to print elements by using index and (%d))

num=[10,20,30,40,50]
print('total list=',num)
print('first=%d ,last=%d' % (num[0],num[4]))
# print(num[4])

50

In [2]:
#  python list program on Comprehension method

list = [i for i in range(11) if i % 2 == 0]# condition to print even numbers
print(list)

# matrix in comprehension
matrix = [[j for j in range(3)] for i in range(3)]
   
print(matrix)

[0, 2, 4, 6, 8, 10]
[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

PROGRAM ON TUPLE BY USING IT'S BUILT IN FUNCTION

In [15]:
#  cerating a empty tuple

Tuple1=()
print(type(Tuple1))

<class 'tuple'>

In [16]:
# Creating a Tuple with the use of list

list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [17]:
# Creating a Tuple with the use of built-in function

Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [18]:
# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1,Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [19]:
# Accessing Tuple with Indexing

Tuple1 = tuple("Geeks")
print("\nFirst element of Tuple: ")
print(Tuple1[0])

First element of Tuple:
G

In [20]:

# Accessing the lement using positive indexing
t1 = ("g","o","r","a","v")
print(t1[0])    #print "g"
print(t1[4])    #print "v"

g
v

In [21]:
# Accessing the lement using negative indexing
t1 = ("g","o","r","a","v")
print(t1[-2])    #print "a"
print(t1[-4])    #print "o"

a
o

In [22]:
# Accessing tuple element using slicing
my_tuple = (1,2,3,4,5,6,7,8,9)
print(my_tuple[1:5])    #(2,3,4,5)
print(my_tuple[:-7])    #(1,2)
print(my_tuple[7:])     #(8,9)
print(my_tuple[:])      # returns all the tuples items

(2, 3, 4, 5)
(1, 2)
(8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
# Using count and index in tuple
my_tuple = ("h","u","b","l","i","k","e","o","n","i","c","s")
print(my_tuple.count("i"))   #2
print(my_tuple.count("n"))   #1
print(my_tuple.index("k"))   #5

2
1
5

In [24]:
# Check if an item exists in the python Tuple

my_tuple = ("Gourav","keonics","student")
print("hubli" in my_tuple)   #FALSE
print("Gourav" in my_tuple)  #TRUE

False
True

In [25]:
# Tuple unpacking
Tuple1 = ("Geeks", "For", "Geeks")
 
# This line unpack
# values of Tuple1
a, b, c = Tuple1
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)

Values after unpacking:
Geeks
For
Geeks

In [26]:
# Deleting a Tuple
 
Tuple1 = (0, 1, 2, 3, 4)
del Tuple1
 
print(Tuple1)

NameError: name 'Tuple1' is not defined

PROGRAM ON SET

In [ ]:
# A set cannot have duplicate values( it will hold only unique values)
set={"geek","for","geek"} 
print(set)
set={"h","e","l","l","o"}
print(set)

{'geek', 'for'}
{'h', 'e', 'o', 'l'}

In [ ]:
#  A set can store hetrogeneous elements(set are unorder in seq.) 
myset={"hi","well","come","to","keonics","traning","center"}
print(myset)

{'to', 'come', 'traning', 'well', 'keonics', 'hi', 'center'}

In [ ]:
# Adding a string in a set,
set ={"Gourav","popale"}
set.add("s")
print(set)

{'s', 'Gourav', 'popale'}

In [ ]:
# using update in set
set1={'lactose','ralph lauren'}
set2={'apple','google','apple'}

set1.update(set2)
#  whole set2 will update in set1
print(set1)

{'lactose', 'google', 'ralph lauren', 'apple'}

In [ ]:
# Using Discard in set
set1={'Gourav','s','popale'}
set1.discard('s')
#  and also we can use remove().function
print(set1)

{'Gourav', 'popale'}

In [ ]:
# Find Number of set Elements     
set_number={1,2,3,4,5,6,7,8,9,1,2,3}
#it will not count repeated value again and again
print(len(set_number))

9

In [ ]:
# Using intersection in set  
set1={1,2,3,4,5}
set2={7,6,2,5,8}
print(set1.intersection(set2))
# it will just take (common) values

{2, 5}

In [ ]:
#  Using Symmetric_difference in set  
setA={1,2,3,4,5}
setB={7,6,2,5,8}
print(setA.symmetric_difference(setB))
#the common values will not print

{1, 3, 4, 6, 7, 8}

In [ ]:
# Adding values in set using for loop
set1=set()
set1.add(6)
for i in range(1,6):
    set1.add(i)
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
#  using clearing sets
set1={1,2,3,4,5,6}
# set1
set1.clear()
set1

set()

In [ ]:
# to print union set by using function and operator
setg={1,2,3,4,5}
sets={6,7,8,9,10}
# by function
set1=setg.union(sets)
set1
# by operator
print(setg|sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#  program to check set1 is equivalent to set2 by using operator
set1={1,2,3,4,5}
set2={1,2,3,4,5}
# if element are same thn it is equivalent
# equivalent operator
print(set1 == set2)
# if it is equivalent it prints (True)

# if set1 is not equivalent to set2 by using opreator

set1={1,2,3,4,5}
set2={6,7,8,9,10}
#  if it is not equivalent to set2 (thn it prints True)
print(set1!=set2)

True
True

In [ ]:
#  program to print (subset) of elements with operator
# subset
s1={"gourav","1650","frooti"}
s2={"gourav","1650","frooti"}
# A set A is a subset of another set B if all elements of the set A are elements of the set B.
print(s1<=s2)

#  program to print propersubset of element
s1={1,2,3,4,5}
s2={6,8,9,10,1,2,3,4,5}
# A proper subset is one that contains a few elements of the original set
print(s1<s2)

# program to print (superset) 
s1={1,2,3,4}
s2={1,2,3,4,5,6,7,8,9} # same has subset
print(s1>=s2)

True
True
False

PROGRAM ON DICTIONARY

In [ ]:
# <class type>(dictionary)
dict={}
print(type(dict))

<class 'dict'>

In [ ]:
# simple progam to print dictionary
dict = {"name":("Gourav"),"from":("hubli")}
dict

{'name': 'Gourav', 'from': 'hubli'}

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
#  using clear() in dictionary to remove all iteams from dictionary
dict1={1:'gourav',2:'hubli',3:'karnataka'}
dict1.clear()
print(dict1)

#  using copy() in return a shallow copy of the dictionary
dict2={1:'gourav',2:'hubli',3:'karnataka'}
dict2.copy()
print(dict2)

# creat a dictionary from a given sequence
seq=('a','b')
print(dict.fromkeys(seq,"gourav"))

#  using get() to return (value) for the given key
dict={1:'gourav',2:'hubli',3:'karnataka'}
dict1=dict.get(1)
dict

{}
{1: 'gourav', 2: 'hubli', 3: 'karnataka'}
{'a': 'gourav', 'b': 'gourav'}

{1: 'gourav', 2: 'hubli', 3: 'karnataka'}

In [ ]:
d1={1:"gourav",2:"s",3:"popale",4:"hubli",5:"karnataka",6:"india"}
d2={7:"jai shre ram"}
# it will return all the keys present in dictionary
print(d1.keys())

# return and removes the element by the given key by using pop() method
print(d1.pop(1))     # we can also use paticular index to remove
print(d1.popitem())  # it remove by default(-1) last pair

#  using (update()) to add another dictionary
d1.update(d2)
print(d1)

print(d1.values())  #  only returning values

dict_keys([1, 2, 3, 4, 5, 6])
gourav
(6, 'india')
{2: 's', 3: 'popale', 4: 'hubli', 5: 'karnataka', 7: 'jai shre ram'}
dict_values(['s', 'popale', 'hubli', 'karnataka', 'jai shre ram'])