PROGRAM ON LIST

In [5]:
# PICKING PATICULAR OBJECT BY USING INDEX (value).
list = [10,15,20,[100,200],"gourav"]
print(list[3][0])

100

In [3]:
# SPLITING VALUES BY ENTERED OBJECT BY 
# using. SPACE IN LIST
list1 = input("Enter the value")
list2 = list1.split()
print(list2)

['G', 'O', 'U', 'R', 'A', 'V']

In [17]:
# USING APPEND IN LIST TO ADD OBJECT
list=[]
list.append(input("Enter the value"))
list.append(input("Enter the value"))
list.append([20,30,40,50])
list

['20', '30', [20, 30, 40, 50]]

In [4]:
# USING COUNT() IN LIST 
# (Returns the count of how many times object occurs in the list.)
list=['a','b','b','c','e','f']
print(list.count('b'))

2

In [6]:
# USING EXTEND IN LIST TO (ADD WHOLE LIST) 
list1=["Hi well come"]
list1.extend(["Gourav"])
list1

['Hi well come', 'Gourav']

In [72]:
# USING REVERSE IN LIST
list = ["Gourav","Is","Good"]
list.reverse()
list

['Good', 'Is', 'Gourav']

In [2]:
# USING REMOVE IN LIST(IT WILL REMOVE ONLY DIRECT OBJECT)
list = ["Gourav",'s',"popale"]
list.remove("s")
list

['Gourav', 'popale']

In [78]:
# USING POP() IN LIST WHICH REMOVE
# note: BY DEFAULT(-1)(LAST OBJECT)
list = [10,20,30,40,50,60]
list.pop()
list

[10, 20, 30, 40, 50]

In [11]:
#  USING SORT() IN LIST
LIST=[1,5,3,6,9,4,7,8,10]  # note:
LIST.sort()                # sort  will arange in accending order
# LIST.sort(reverse=True)  # reverse=True will sort the list in descending.
print(LIST)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#  USING INSERT() IN LIST
list=[1,2,3,4,5,6]  
list.insert(0,0)  #ndex: the index at which the element has to be inserted.
list

[0, 1, 2, 3, 4, 5, 6]

PROGRAM ON TUPLE

In [66]:
# Adding string by tuple
tuple1 = ("Hi ")
tuple2 = ("Gourav")
tuple3 = tuple1+tuple2
tuple3

'Hi Gourav'

In [56]:

# Accessing the lement using positive indexing
t1 = ("g","o","r","a","v")
print(t1[0])    #print "g"
print(t1[4])    #print "v"

g
v

In [57]:
# Accessing the lement using negative indexing
t1 = ("g","o","r","a","v")
print(t1[-2])    #print "a"
print(t1[-4])    #print "o"

a
o

In [62]:
# Accessing tuple element using slicing
my_tuple = (1,2,3,4,5,6,7,8,9)
print(my_tuple[1:5])    #(2,3,4,5)
print(my_tuple[:-7])    #(1,2)
print(my_tuple[7:])     #(8,9)
print(my_tuple[:])      # returns all the tuples items

(2, 3, 4, 5)
(1, 2)
(8, 9)

In [71]:
# Using count and index in tuple
my_tuple = ("h","u","b","l","i","k","e","o","n","i","c","s")
print(my_tuple.count("i"))   #2
print(my_tuple.count("n"))   #1
print(my_tuple.index("k"))   #5

2
1
5

In [70]:
# Check if an item exists in the python Tuple

my_tuple = ("Gourav","keonics","student")
print("hubli" in my_tuple)   #FALSE
print("Gourav" in my_tuple)  #TRUE

False
True

PROGRAM ON SET

In [3]:
# A set cannot have duplicate values( it will hold only unique values)
set={"geek","for","geek"} 
print(set)
set={"h","e","l","l","o"}
print(set)

{'geek', 'for'}
{'h', 'e', 'o', 'l'}

In [2]:
#  A set can store hetrogeneous elements(set are unorder in seq.) 
myset={"hi","well","come","to","keonics","traning","center"}
print(myset)

{'to', 'come', 'traning', 'well', 'keonics', 'hi', 'center'}

In [80]:
# Adding a string in a set
set ={"Gourav","popale"}
set.add("s")
print(set)

{'s', 'Gourav', 'popale'}

In [75]:
# using update in set
set1={'lactose','ralph lauren'}
set2={'apple','google','apple'}

set1.update(set2)
#  whole set2 will update in set1
print(set1)

{'lactose', 'google', 'ralph lauren', 'apple'}

In [3]:
# Using Discard in set
set1={'Gourav','s','popale'}
set1.discard('s')
#  and also we can use remove().function
print(set1)

{'Gourav', 'popale'}

In [7]:
# Find Number of set Elements     
set_number={1,2,3,4,5,6,7,8,9,1,2,3}
#it will not count repeated value again and again
print(len(set_number))

9

In [8]:
# Using intersection in set  
set1={1,2,3,4,5}
set2={7,6,2,5,8}
print(set1.intersection(set2))
# it will just take (common) values

{2, 5}

In [65]:
#  Using Symmetric_difference in set  
setA={1,2,3,4,5}
setB={7,6,2,5,8}
print(setA.symmetric_difference(setB))
#the common values will not print

{1, 3, 4, 6, 7, 8}

In [2]:
# Adding values in set using for loop
set1=set()
set1.add(6)
for i in range(1,6):
    set1.add(i)
print(set1)

{1, 2, 3, 4, 5, 6}

In [4]:
#  using clearing sets
set1={1,2,3,4,5,6}
set1
set1.clear()
set1

set()

In [7]:
# to print union set by using function and operator
setg={1,2,3,4,5}
sets={6,7,8,9,10}
# by function
set1=setg.union(sets)
set1
# by operator
print(setg|sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
#  set1 is equivalent to set2 by using operator
set1={1,2,3,4,5}
set2={1,2,3,4,5}
# equivalent operator
print(set1 == set2)
# if it is equivalent it prints true

True

PROGRAM ON DICTIONARY

In [9]:
#  <class type>(dictionary)
dict={}
print(type(dict))

<class 'dict'>

In [8]:
# simple progam to print dictionary
dict = {"name":("Gourav"),"from":("hubli")}
dict

{'name': 'Gourav', 'from': 'hubli'}

In [7]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}