PROGRAM ON SET

In [3]:
# A set cannot have duplicate values( it will hold only unique values).
set={"geek","for","geek"} 
print(set)
set={"h","e","l","l","o"}
print(set)

{'for', 'geek'}
{'o', 'e', 'l', 'h'}

In [4]:
#  A set can store hetrogeneous elements(set are unorder in seq.) 
myset={"hi","well","come","to","keonics","traning","center"}
print(myset)

{'keonics', 'come', 'well', 'center', 'to', 'hi', 'traning'}

In [5]:
# Adding a string in a set,
set ={"Gourav","popale"}
set.add("s")
print(set)

{'popale', 's', 'Gourav'}

In [6]:
# using update in set
set1={'lactose','ralph lauren'}
set2={'apple','google','apple'}

set1.update(set2)
#  whole set2 will update in set1
print(set1)

{'google', 'ralph lauren', 'apple', 'lactose'}

In [7]:
# Using Discard in set
set1={'Gourav','s','popale'}
set1.discard('s')
#  and also we can use remove().function
print(set1)

{'popale', 'Gourav'}

In [8]:
# Find Number of set Elements     
set_number={1,2,3,4,5,6,7,8,9,1,2,3}
#it will not count repeated value again and again
print(len(set_number))

9

In [9]:
# Using intersection in set  
set1={1,2,3,4,5}
set2={7,6,2,5,8}
print(set1.intersection(set2))
# it will just take (common) values

{2, 5}

In [10]:
#  Using Symmetric_difference in set  
setA={1,2,3,4,5}
setB={7,6,2,5,8}
print(setA.symmetric_difference(setB))
#the common values will not print

{1, 3, 4, 6, 7, 8}